Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

#RedirectMath 404 /\.git
#RedirectMath 404 /composer\.
#RedirectMath 404 /.bowerrc

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php